html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}


#header {
    border-bottom: 2px black solid;
    background-color: gray;
    color: aqua;
    padding: 40px;
    font-size: xx-large;
}
#header1 {
    border-bottom: 2px black solid;
    background-color: rgb(64, 93, 187);
    padding: 20px;
    background-image: url("");
}


#nav {
    float: right;
    border: 10px;
    font-size: x-large;
}

#aboutMe {
    border-right: 3px black solid;
    padding: 60px;
    padding-left: 10px;
    margin-top: 10px;
    
}

#aboutMe1 {
    border-right: 2px black solid;
    justify-self: start;
    padding: 60px;
    size: 10px;
    margin-left: 1px;

}

#bio {
    justify-content: start;
    padding: 60px;
    padding-left: 10px;
}

#port {
    padding: 60px;
    padding-left: 30px;
    margin-top: 10px;
    padding-top: 60px;
    padding-bottom: 500px;
}

#works {
    border-right: 2px black solid;
    justify-self: start;
    padding-top: 60px;
    size: 10px;
    margin-left: 1px;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 500px;

}

#img1 {
    border: 2px black solid;
    margin-left: 200px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
}

#img2 {
    border: 2px black solid;
    margin-left: 200px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;

}

#img3 {
    border: 2px black solid;
    margin-left: 200px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
}

#img4 {
    border: 2px black solid;
    margin-left: 200px;
    margin-top: 1000px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
}

#img5 {
    border: 2px black solid;
    margin-left: 200px;
    margin-top: 1000px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
}

#contact {
    margin-top: 10px;
    padding: 60px;
    padding-left: 10px;
}
#contactMe {
    border-right: 2px black solid;
    justify-self: start;
    padding: 60px;
    size: 10px;
    margin-left: 1px;
    padding-right: 46px;

}

#contact1 {
    margin-left: ;
    border: 10px;
    float:inline-start;
    justify-content: space-evenly;

}